/* 

+ Seletores somados tem um especificidade maior que um seletor 
+ O VS mostrar a especificidade pelos valores de (0,0,0)

+ Ordem especificidade
+ !important
+ css inline
+ id
+ class
+ Soma de elementos
+ Um elemento

*/

#azul {
    color: aqua;
}

h1[class="verde"] {
    color: #ff1100;
}

.verde {
    color: #9900ff;
}

body > h1 {
    color: #0f0;
}

h1 {
    color: #f00;
}